{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [ "styled-jsx-plugin-postcss" ]
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [ "inline-dotenv" ]
    },
    "production": {
      "plugins": [ "transform-inline-environment-variables" ]
    }
  }
}
